-
  var menu_items = [
    {
      "link": "/home",
      "name": "Home Page",
      "class": "home"
    },
    {
      "link": "/analitics",
      "name": "Analitics Page",
      "class": "analitics"
    }
  ]
-
  var activity_items = [
    "User Id",
    "Area",
    "Timestamp"
  ]